# macOS 系统文件
.DS_Store
.AppleDouble
.LSOverride

# Python 缓存/编译文件
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.egg-info/
*.egg
.pytest_cache/

# 编辑器/IDE 文件
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.sublime-*

# 日志/临时文件
*.log
*.tmp
*.bak
*.cache

# 其他通用文件
Thumbs.db
ehthumbs.db
Desktop.ini